# eclipse
bin
*.launch
.settings
.metadata
.classpath
.project

# idea
out
*.ipr
*.iws
*.iml
.idea

# gradle
build
.gradle

# other
eclipse
run

# Everything but src
*.txt
gradlew.bat
gradlew
gradle/*
gradle.properties
build.gradle